ul{
    
    font-family: cursive;
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}

h1{
    font-family: cursive;
    text-align: center;
    color:#ff7f50;
    text-decoration:underline;
}
body{
    background-color:#00ffff;
    color:#ff7f50;
    text-align: center;
        font-family: cursive;
}
 img{
    display:center;
    
    width: 350px;
    padding:50px;

 }